.wp-block-genius-myblocks {
	display: block;
	flex-wrap: unset;
	justify-content: unset;

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@for $i from 1 through 4 {
		&.the-#{$i}-columns {
			> .block-editor-inner-blocks > .block-editor-block-list__layout {
				> [data-type="genius/myblock"] {
					width: calc(100% / #{$i} - 10px);
				}
			}
			
		}
	}
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout 
	> [data-type="genius/myblock"] {
		background: #f5f5f5;
		padding: 20px;
		border-radius: 30px;
		box-sizing: border-box;
		margin-bottom: 20px;

		h2 {
			margin-top: 0;
		}
	}
}
